<div class="dashboard">
  <div class="content">
    @if (currentUser) {      
      @if (!allDataLoaded) {
        <app-loading/>
      }
      <div [hidden]="!allDataLoaded">
        <app-breadcrumb [currentUserRole]="currentUserRole"/>
        <app-stats-cards [currentUser]="currentUser" (dataLoaded)="onChildDataLoaded()"/>
        
        @if (currentUserRole === 'STUDENT') {
          <app-factsheets-student-tab [student]="currentUser" (dataLoaded)="onChildDataLoaded()"/>
        } 
        @else if (currentUserRole === 'INTERNSHIP_MANAGER') {
          <app-list-student-tab (dataLoaded)="onChildDataLoaded()"/>
        }
      </div>
    }
  </div>
</div>