<div class="factsheet">
  <div class="header">
    <h2>Fiche étudiant</h2>
  </div>

  <div class="content">
    <div class="info-group">
      <h3>Informations personnelles</h3>
      <div class="info-row">
        <span class="label">Nom :</span>
        <span class="value">{{ currentUser.lastName }}</span>
      </div>
      <div class="info-row">
        <span class="label">Prénom :</span>
        <span class="value">{{ currentUser.firstName }}</span>
      </div>
      <div class="info-row">
        <span class="label">Email :</span>
        <span class="value">{{ currentUser.email }}</span>
      </div>
    </div>

    <!-- <div class="info-group">
      <h3>Informations académiques</h3>
      <div class="info-row">
        <span class="label">Classe :</span>
        <span class="value">{{ student?.classe?.nomClasse || 'Non assigné' }}</span>
      </div>
      <div class="info-row">
        <span class="label">Année scolaire :</span>
        <span class="value">{{ student?.anneeScolaire || 'Non assigné' }}</span>
      </div>
    </div> -->
  </div>
</div> 