<div class="container">
  <app-navigation-tabs 
    [currentStep]="currentStep"
    (stepChange)="onStepChange($event)">
  </app-navigation-tabs>
  
  <h2 class="title">Informations du tuteur de stage</h2>
  <p class="warning">Les informations pré-remplies sont à vérifier !</p>
  <div class="content">
    <form (ngSubmit)="onNext()">
      <div class="form-content">
        <div class="form-row">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" [(ngModel)]="formData.nomTuteurEntreprise.value" name="nom">
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" [(ngModel)]="formData.prenomTuteurEntreprise.value" name="prenom">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="text" id="telephone" [(ngModel)]="formData.telephoneTuteurEntreprise.value" name="telephone">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="formData.adresseMailTuteurEntreprise.value" name="email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="fonction">Fonction</label>
            <input type="text" id="fonction" [(ngModel)]="formData.fonctionTuteurEntreprise.value" name="fonction">
          </div>
        </div>

        <div class="buttons">
          <button type="button" class="btn-cancel" (click)="onPrevious()">Précédent</button>
          <button type="submit" class="btn-submit">Suivant</button>
        </div>
      </div>
    </form>
  </div>
</div>
  