<div class="container">
  <app-navigation-tabs 
    [currentStep]="currentStep"
    (stepChange)="onStepChange($event)">
  </app-navigation-tabs>
  
  <h2 class="title">Informations du lieu du stage</h2>
  <p class="warning">Les informations pré-remplies sont à vérifier !</p>
  <div class="content">
    <form (ngSubmit)="onNext()">

      <div class="form-content">

      <div class="form-row">
        <div class="form-group">
          <label for="adresseMailStage">Email</label>
          <input type="email" id="adresseMailStage" [(ngModel)]="formData.adresseMailStageFicheDescriptive.value" name="adresseMailStage" placeholder='test@gmail.com'>
        </div>
        <div class="form-group">
          <label for="telephoneStage">Téléphone</label>
          <input type="text" id="telephoneStage" [(ngModel)]="formData.telephoneStageFicheDescriptive.value" name="telephoneStage" placeholder='0123456789'>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="adresseStage">Adresse - Numéro et Rue</label>
          <input type="text" id="adresseStage" [(ngModel)]="formData.adresseStageFicheDescriptive.value" name="adresseStage" placeholder='1 rue de la paix'>
        </div>
        <div class="form-group">
          <label for="codePostalStage">Code Postal</label>
          <input type="text" id="codePostalStage" [(ngModel)]="formData.codePostalStageFicheDescriptive.value" name="codePostalStage" placeholder='75000'>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="villeStage">Ville</label>
          <input type="text" id="villeStage" [(ngModel)]="formData.villeStageFicheDescriptive.value" name="villeStage" placeholder='Paris'>
        </div>
        <div class="form-group">
          <label for="paysStage">Pays</label>
          <input type="text" id="paysStage" [(ngModel)]="formData.paysStageFicheDescriptive.value" name="paysStage" placeholder='France'>
        </div>
      </div>

      <div class="buttons">
        <button type="button" class="btn-cancel" (click)="onPrevious()">Précédent</button>
        <button type="submit" class="btn-submit">Suivant</button>
      </div>
    </div>
    </form>
  </div>
</div>
  