<div class="modal-overlay">
    <div class="modal">
        <h3 class="modal-title">Sugestion d'attribution d'un tuteur</h3>
        
        <div class="confirmation-content">
            <p>
                Liste des enseignants
            </p>
        </div>

        <div class="modal-buttons">
            <button 
                type="button"
                (click)="onCancel()"
                class="cancel-button"
            >
                Annuler
            </button>
            <button 
                type="button"
                (click)="onConfirm()"
                class="delete-button"
            >
                Attribuer le tuteur
            </button>
        </div>
    </div>
</div>