<div class="container">
  <app-navigation-tabs 
    [currentStep]="currentStep"
    (stepChange)="onStepChange($event)">
  </app-navigation-tabs>
  
  <h2 class="title">Informations du déroulement du stage</h2>
  <p class="warning">Les informations pré-remplies sont à vérifier !</p>
  <div class="content">
    <form (ngSubmit)="onNext()">
      <div class="form-content">
        <div class="form-row">
          <div class="form-group">
            <label for="dateDebut">Date de début</label>
            <input type="date" id="dateDebut" [(ngModel)]="formData.debutStageFicheDescriptive.value" name="dateDebut">
          </div>
          <div class="form-group">
            <label for="dateFin">Date de fin</label>
            <input type="date" id="dateFin" [(ngModel)]="formData.finStageFicheDescriptive.value" name="dateFin">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="nbJoursTravail">Nombre de jours de travail par semaine</label>
            <input type="number" id="nbJoursTravail" [(ngModel)]="formData.nbJourSemaineFicheDescriptive.value" name="nbJoursTravail" min="1" max="7" placeholder='5'>
          </div>
          <div class="form-group">
            <label for="nbHeuresHebdo">Nombre d'heures par semaine</label>
            <input type="number" id="nbHeuresHebdo" [(ngModel)]="formData.nbHeuresSemaineFicheDescriptive.value" name="nbHeuresHebdo" min="1" max="40" placeholder='35'>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="materielPrete">Matériel prêté</label>
            <input type="text" id="materielPrete" [(ngModel)]="formData.materielPreteFicheDescriptive.value" name="materielPrete" placeholder='Ordinateur, téléphone, ...'>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group-slider">
            <label for="persoTechnique">Personnel technique disponible</label>
              <label class="switch">
                  <input type="checkbox" id="persoTechnique" [(ngModel)]="formData.personnelTechniqueDisponibleFicheDescriptive.value" name="persoTechniqueDeroulementStage">
                  <span class="slider"></span>
              </label>
          </div>          
          <div class="form-group-slider">
            <label for="clauseConfidentialite">Clause de confidentialité</label>
            <label class="switch">
              <input type="checkbox" id="clauseConfidentialite" [(ngModel)]="formData.clauseConfidentialiteFicheDescriptive.value" name="clauseConfidentialiteDeroulementStage">
              <span class="slider"></span>
            </label>
          </div>
        </div>

        <div class="buttons">
          <button type="button" class="btn-cancel" (click)="onPrevious()">Précédent</button>
          <button type="submit" class="btn-submit">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
  