<div class="dashboard">
    <div class="content">
        @if (currentUser) {      
            @if (!allDataLoaded) {
                <app-loading/>
            }
            <div *ngIf="selectedStudent" [hidden]="!allDataLoaded">
                <app-breadcrumb [currentUserRole]="currentUserRole" [selectedStudent]="selectedStudent"/>
                <app-stats-cards [currentUser]="currentUser" [selectedStudent]="selectedStudent" (dataLoaded)="onChildDataLoaded()"/>
                <app-searches-student-tab [currentUser]="selectedStudent" [userRole]="currentUserRole" (dataLoaded)="onChildDataLoaded()"/>
            </div>
        }
    </div>
</div>